* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

body {
  background: #f3f4f6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.topbar {
  background: #ffffff;
  padding: 18px 40px;
  border-bottom: 1px solid #e5e7eb;
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-box {
  width: 34px;
  height: 34px;
  background: #2563eb;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-box .material-symbols-outlined {
  color: white;
  font-size: 20px;
}

.brand-name {
  font-weight: 600;
  font-size: 16px;
  color: #2563eb;
}


.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
}

.card {
  background: white;
  width: 100%;
  max-width: 480px;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.06);
}

.card h2 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 8px;
}

.subtitle {
  font-size: 14px;
  color: #6b7280;
  line-height: 1.6;
  margin-bottom: 24px;
}


.form-group {
  margin-bottom: 18px;
}

label {
  font-size: 13px;
  font-weight: 600;
  display: block;
  margin-bottom: 6px;
  color: #374151;
}


.label-with-icon {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 13px;
  font-weight: 600;
  color: #374151;
  margin-bottom: 6px;
}
 
.label-icon{
    font-size: 18px;
    color:#2563eb;
}

input{
    width: 100%;
    padding: 11px 14px;
    border-radius: 10px;
    border: 1px solid #e5e7eb;
    font-size: 14px;
    background: #f9fafb;
    transition: 0.2s;
}

textarea{
    width: 100%;
    padding: 14px 14px 14px 44px;
    border-radius: 12px;
    border: 1px solid #e5e7eb;
    font-size: 14px;
    background: #f3f4f6;
  resize: none;
  height: 120px;
  transition: 0.2s;
}

textarea::placeholder {
  color: #9ca3af;
}

textarea:focus {
  outline: none;
  border-color: #2563eb;
  background: #ffffff;
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.08);
}

.textarea-wrapper .input-icon {
  top: 20px;
  transform: none;
}

.rating {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 6px;
}

.star {
  font-size: 22px;
  cursor: pointer;
  color: #d1d5db;
  transition: 0.2s;
}

.star.active {
  color: #2563eb;
}

.rating-text {
  margin-left: 8px;
  font-size: 13px;
  color: #6b7280;
}

.btn {
  width: 100%;
  margin-top: 22px;
  padding: 12px;
  border: none;
  border-radius: 12px;
  background: #2563eb;
  color: white;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background: #1e40af;
}

.note {
  font-size: 12px;
  text-align: center;
  color: #9ca3af;
  margin-top: 12px;
}

.bottom-info {
  margin-top: 22px;
  display: flex;
  gap: 25px;
  font-size: 13px;
  color: #6b7280;
} 

footer {
  text-align: center;
  padding: 20px;
  font-size: 13px;
  color: #6b7280;
}